* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #005e75;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Хедер занимает всю ширину экрана */
  z-index: 1000;
}
.header a {
  color: #fff;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin: 0 15px;
}

.menu ul li a {
  text-decoration: none;
  /* color: #333; */
}

.call-link {
  text-decoration: none;
}

.burger-menu {
  display: none;
  font-size: 1.8em;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #005e75;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px;
  z-index: 100;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.mobile-menu ul li {
  padding: 10px 20px;
}

.mobile-menu ul li a {
  text-decoration: none;
  display: block;
}

.mobile-menu .call-link {
  display: block;
  margin: 10px 20px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu,
  .call-link {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}
@media (max-width: 1000px) {
  .menu,
  .call-link {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

/* aboutConstruction */
.aboutConstruction {
  background-image: url(../images/background/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}
.logoHeader {
  width: 120px;
  height: 120px;
}
.logoNormal {
  width: 400px;
  height: 400px;
  margin: 50px 0 0 0;
}

.heroTitle {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
}

.ptitle {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 100px;
}
.titleList {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 30px;
  padding-bottom: 50px;
}

/* aboutOur */
.aboutOurtext {
  display: flex;
  flex-direction: column; /* Располагаем элементы вертикально */
  align-items: flex-start; /* Все элементы начинаются с левого края */
  gap: 20px;
}

.aboutOurtext h2 {
  text-align: left;
  font-size: 80px;
  font-weight: 800;
  margin: 100px 0;
}

.aboutOurtext p {
  margin: 40px 0;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5; /* Отступы между абзацами */
}

.aboutOurtext .left {
  left: 0; /* Оставляем первый абзац слева */
  text-align: left; /* Выравниваем текст по левому краю */
}

.aboutOurtext .center {
  position: relative;
  left: 50%; /* Смещаем второй абзац на 50% */
  transform: translateX(-50%); /* Центрируем относительно центра контейнера */
  text-align: left; /* Центрируем текст */
}

.aboutOurtext .right {
  position: relative;
  left: 100%; /* Смещаем третий абзац в правую часть */
  transform: translateX(-100%); /* Перемещаем влево на ширину самого блока */
  text-align: left;
  padding-bottom: 100px;
}

.aboutOur {
  background-image: url(../images/background/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* affordable housing */

.affordableHousing h2 {
  text-align: left;
  font-size: 80px;
  font-weight: 800;
  margin: 0 0 100px 0;
  padding-top: 100px;
}

.affordableHousing {
  background-image: url(../images/background/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.affordableHousing p {
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 100px;
  line-height: 1.5;
}

/* layouts  */

.layouts {
  background-image: url(../images/background/6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layouts .container h2 {
  text-align: left;
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 100px;
}

.layouts .container p {
  text-align: left;
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 100px;
  line-height: 1.7;
}

/* layoutFoto  */

/* Сетка фотографий */
.photo-grid {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 50px; /* Отступы между фото */
}

.photo {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.photo:hover {
  transform: scale(1.05); /* Эффект увеличения при наведении */
}

/* Стили модального окна */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
  z-index: 9999; /* Увеличиваем приоритет модального окна */
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
}

.close {
  position: absolute; /* Абсолютное позиционирование относительно модального окна */
  top: 10px; /* Отступ от верхнего края модального окна */
  right: 10px; /* Отступ от правого края модального окна */
  font-size: 2rem; /* Размер текста */
  color: white; /* Цвет текста */
  cursor: pointer; /* Указатель при наведении */
  z-index: 10001;
}

.close:hover {
  color: red; /* Меняем цвет при наведении */
  transform: scale(1.2); /* Увеличиваем размер при наведении */
}

.layoutFoto {
  background-image: url(../images/background/5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* document */

.document {
  background-image: url(../images/background/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.document .container p img {
  background: transparent;
  vertical-align: sub;
  width: 65px;
}

.document .container h2 {
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  padding: 100px 0;
}

.document .container p {
  text-align: left;
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 50px;
  line-height: 1.7;
}

/* foto/video  */

.fotoVideo {
  background-image: url(../images/background/6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fotoVideo .container h2 {
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  padding: 100px 0 100px 0;
}

.fotologo img {
  width: 120px; /* Размер логотипа */
  height: auto;
  margin-right: auto; /* Логотип выравнивается влево */
}

.slider {
  position: relative;
  width: 80%; /* Ширина слайдера */
  max-width: 1200px;
  margin: 0 auto; /* Центрируем слайдер */
  overflow: hidden; /* Скрываем всё, что выходит за границы */
  padding-bottom: 100px;
}

.slider-track {
  display: flex; /* Элементы располагаются в одну строку */
  transition: transform 0.5s ease-in-out; /* Плавная анимация прокрутки */
}

.slide {
  flex: 0 0 calc(100% / 3); /* Каждый слайд занимает треть ширины контейнера */
  box-sizing: border-box; /* Учитываем границы и отступы */
  padding: 10px; /* Отступы между слайдами */
}

.slide img {
  width: 100%;
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

/* Блокируем кнопку при достижении конца */
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* footer  */
/* Общие стили кнопки */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #005e75;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 15px 30px; /* Отступы внутри кнопки */
  background-color: #fff;
  color: black; /* Цвет текста */
  text-decoration: none; /* Убираем подчёркивание */
  font-family: "Montserrat", sans-serif; /* Шрифт кнопки */
  font-size: 18px; /* Размер текста */
  font-weight: 600; /* Полужирный текст */
  text-align: center;
  border-radius: 5px; /* Закруглённые углы */
  transition: all 0.3s ease; /* Плавный переход для эффектов */
}

/* Эффект при наведении */
.btn:hover {
  background-color: #007b9a; /* Более светлый оттенок */
  transform: translateY(-3px); /* Лёгкий подъём кнопки */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

/* Версия для мобильных устройств */
@media (max-width: 768px) {
  .btn {
    font-size: 16px; /* Уменьшаем текст для маленьких экранов */
    padding: 10px 20px; /* Уменьшаем отступы */
  }
}

.contacts {
  display: flex;
  flex-wrap: wrap; /* Для мобильных устройств элементы переходят на новую строку */
  /* Расстояние между блоками */
}

.sales-department,
.contact-info {
  flex: 1; /* Блоки занимают равное пространство */
  /* Минимальная ширина */
}

.sales-department h3,
.contact-info h3 {
  font-size: 18px; /* Размер заголовка */
  margin-bottom: 10px; /* Отступ снизу */
  text-transform: uppercase; /* Заглавные буквы */
}

.sales-department p,
.contact-info p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.5;
}

.contact-info a {
  color: white;
  text-decoration: none; /* Убираем подчёркивание у ссылок */
  font-weight: bold;
  padding-right: 10px;
}
.addres-icon {
  fill: #fff;
}
.btn-container {
  margin-left: 200px; /* Занимаем всю ширину */
}

/* ===================
   Адаптация под планшеты
   =================== */
@media (max-width: 768px) {
  /* Уменьшаем шрифты и размеры элементов */
  body {
    font-size: 14px;
  }

  /* Хедер */

  /* Основной контент */
  .heroTitle {
    font-size: 40px;
  }

  .logoNormal {
    width: 200px;
    height: 200px;
    margin: 100px 0 0 0;
  }

  .ptitle {
    font-size: 20px;
  }

  .titleList {
    flex-direction: column;
    gap: 20px;
  }

  /* Секция Про нас */
  .aboutOurtext h2 {
    font-size: 40px;
  }

  .aboutOurtext p {
    font-size: 16px;
  }

  /* Секция Жилье */
  .affordableHousing h2 {
    font-size: 50px;
  }

  .affordableHousing p {
    font-size: 20px;
  }

  /* Сетка фотографий */
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .photo {
    width: 100%;
  }

  /* Секция планировок */
  .layouts .container h2 {
    font-size: 40px;
  }

  .layouts .container p {
    font-size: 20px;
  }

  /* Секция Фото/Видео */
  .fotoVideo .container h2 {
    font-size: 40px;
  }

  .slider {
    width: 100%;
  }

  .slide img {
    width: 100%;
  }

  /* Секция документов */
  .document .container h2 {
    font-size: 40px;
  }

  .document .container p {
    font-size: 20px;
  }

  /* Footer */
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .btn-container {
    margin: 20px 0;
  }

  .sales-department,
  .contact-info {
    width: 100%;
    text-align: center;
  }

  .sales-department p,
  .contact-info p {
    font-size: 14px;
  }

  .social-icons {
    justify-content: center;
  }

  .addres-icon {
    width: 24px;
    height: 24px;
  }
}

/* ===================
     Адаптация под мобильные устройства
     =================== */
@media (max-width: 480px) {
  /* Уменьшаем ещё больше размеры шрифтов и элементов */
  body {
    font-size: 12px;
  }

  /* Основной контент */
  .heroTitle {
    font-size: 32px;
  }

  .logoNormal {
    width: 150px;
    height: 150px;
    margin: 100px 0 0 0;
  }

  .ptitle {
    font-size: 18px;
  }

  .titleList {
    flex-direction: column;
    gap: 15px;
  }

  /* Секция Про нас */
  .aboutOurtext h2 {
    font-size: 32px;
  }

  .aboutOurtext p {
    font-size: 14px;
  }

  /* Секция Жилье */
  .affordableHousing h2 {
    font-size: 32px;
  }

  .affordableHousing p {
    font-size: 16px;
  }

  /* Сетка фотографий */
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .photo {
    width: 100%;
  }

  /* Секция планировок */
  .layouts .container h2 {
    font-size: 32px;
  }

  .layouts .container p {
    font-size: 18px;
  }

  /* Секция Фото/Видео */
  .fotoVideo .container h2 {
    font-size: 32px;
  }

  .slider {
    width: 100%;
  }

  .slide img {
    width: 100%;
  }

  /* Секция документов */
  .document .container h2 {
    font-size: 32px;
  }

  .document .container p {
    font-size: 18px;
  }

  /* Footer */
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .btn-container {
    margin: 10px 0;
  }

  .sales-department,
  .contact-info {
    width: 100%;
    text-align: center;
  }

  .sales-department p,
  .contact-info p {
    font-size: 12px;
  }

  .social-icons {
    justify-content: center;
  }

  .addres-icon {
    width: 20px;
    height: 20px;
  }
}
